@import "/src/difinitions";

.sideBarWrapper {
  grid-area: sidebar;
  background-color: $color-background-dark;

  display: flex;
  flex-direction: column;
  align-items: center;

  > a {
    margin-top: 5px;
  }

  %root-button-style {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .profile::after {
    @extend %root-button-style;
    background-image: url("../../../assets/images/logo-profile.png");
  }

  .users::after {
    @extend %root-button-style;
    background-image: url("../../../assets/images/logo-users.png");
  }
}