@import "../../../../difinitions";

.queueRequestWindow {
  padding: 15px;

  width: 200px;
  height: 500px;

  border: white solid 2px;
  background-color: $color-background-dark;

  color: white;

  .headWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}