@import "/src/difinitions";

.footerWrapper {
  grid-area: footer;
  background-color: $color-background-dark;

  display: flex;
  justify-content: center;
  align-items: center;

  .copyRight::before {
    margin-right: 5px;
    content: '©';
  }
}