// COLORS
$color-background-light: #1c9f1c;
$color-background-dark: #113811;

$color-snackbar-error: rgba(255, 0, 0, 0.5);
$color-snackbar-warning: rgba(253, 150, 0, 0.5);
$color-snackbar-info: rgba(4, 248, 4, 0.5);

$color-font-white: white;
$color-font-grey: grey;
$color-font-gold: gold;